body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.login-container {
  width: 350px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease forwards;
}

.logo {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  background-image: url('https://imgs.search.brave.com/QHRgY_TxKxrs6wOxMCF5N90zkwxNnjO5eC9TneshzaM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/dmVjdG9yc3RvY2su/Y29tL2kvcHJldmll/dy0xeC82NS8yMy90/aHJlZS1oYXBweS1w/ZW9wbGUtd2l0aC1o/YW5kcy10b2dldGhl/ci1sb2dvLXZlY3Rv/ci0xMDMwNjUyMy5q/cGc'); /* Replace 'your_image_url.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  margin: 0 auto 20px; /* Center the image and add some margin */
  border-radius: 50%; /* Make the image round if needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.forgot-password,
.create-account {
  font-size: 14px;
  color: #777;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password:hover,
.create-account:hover {
  color: #555;
}
